.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
}

.header button {
  background-color: transparent;
  border: none;
  color: #555;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header button.active,
.header button:hover {
  color: #008cba;
}
